version: '3.9'

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${PG_LOCAL_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:6
    container_name: mongo-db
    restart: always
    ports:
      - "${MONGO_LOCAL_PORT}:27017"
    volumes:
      - mongodata:/data/db

  app:
    container_name: nest-docker
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
    restart: unless-stopped
    ports:
      - "${API_LOCAL_PORT}:3000"
    env_file:
      - .env

volumes:
  pgdata:
  mongodata:
